<div class="table-responsive cart-info">
    <table class="table table-condensed table-bordered">
        <thead>
            <tr class="cart-menu text-center">
                <td>Image</td>
                <td>Product(s)</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in items" class="text-center">
                <td class="list-img-sm">
                    <div class="item-img">
                        <a data-ui-sref="Product({sku:item.product.info.sku})">
                            <img class="img-responsive" data-ng-if="item.product.photos.length > 0" data-ng-src="/api/products/photos/{{item.product.photos[0].id}}" alt="">
                        </a>
                    </div>

                </td>
                <td>
                    <h4><a data-ui-sref="Product({sku:item.product.info.sku})">{{item.product.info.name}}</a></h4>
                </td>
                <td>
                    {{item.product.info.price | currency}}
                </td>
                <td>
                    <div class="cart-quantity-btn">
                        <label data-ng-show="!item.activeForEdit" data-ng-bind="item.quantity"></label>
                        <input data-ng-if="item.activeForEdit" type="number" name="quantity" min="1" data-ng-model="item.editQuantity">
                    </div>
                </td>
                <td class="cart-total-price">{{(item.product.info.price * item.quantity) | currency}}
                </td>
                <td class="cart-item-delete">
                    <div data-ng-if="!item.activeForEdit">
                        <button type="button" class="btn btn-default" data-ng-click="editCartItem(item)"><i class="fa fa-edit"></i></button>
                    </div>
                    <div data-ng-if="item.activeForEdit">
                        <button type="button" class="btn btn-default" data-ng-click="cancelEditCartItem(item)" uib-tooltip="cancel"><i class="fa fa-close"></i></button>
                        <button type="button" class="btn btn-default" data-ng-click="updateCartItem(item)" uib-tooltip="update"><i class="fa fa-check"></i></button>
                        <button type="button" class="btn btn-default" data-ng-click="deleteCartItem(item)" uib-tooltip="remove"><i class="fa fa-trash"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <div class="col-sm-12 col-md-12" style="margin-top: 10px; padding: 10px;background-color: #f9f9f9;">
        <!--class="col-sm-4 col-md-4 col-sm-offset-8 col-md-offset-8"-->

        <table class="table table-responsive table-hover">
            <tbody>
            <tr>
                <td>Sub Total:</td>
                <td class="text-right" data-ng-bind="subTotal | currency"></td>
            </tr>
            <tr>
                <td>Shipping:</td>
                <td class="text-right" data-ng-bind="shipping | currency"></td>
            </tr>
            <tr style="color: #4ab2f1; font-size: 24px;">
                <td>Total:</td>
                <td class="text-right" data-ng-bind="subTotal+shipping+tax | currency"></td>
            </tr>
            </tbody>
        </table>
        <hr/>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="termsNCondition"> I agree with the terms of service and I adhere to them unconditionally (<a href="javascript:void(0)"> read</a>)
            </label>
        </div>
        <button type="button" class="btn btn-primary pull-right" data-ng-click="goToCheckoutPage()" data-ng-disabled="!termsNCondition">CHECKOUT</button>
    </div>
</div>

