<div>
    <div class="row text-center">
        <h2>Checkout</h2>
    </div>
    <hr/>

    <uib-accordion close-others="oneAtATime">
        <uib-accordion-group is-open="open.tab1" is-disabled="isDisablePanel(1)">
            <uib-accordion-heading>
                1. Billing address <i class="pull-right fa"
                                      ng-class="{'fa-angle-double-down': open.tab1, 'fa-angle-double-right': !open.tab1}"></i>
            </uib-accordion-heading>
            <div class="panel-body">
                <div class="col-md-offset-2">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3"><label><i class="fa fa-question-circle fa-fw"></i>Select your billing
                                address</label></div>
                            <div class="col-md-4">
                                <select class="form-control" ng-model="selectedBillingIndx"
                                        ng-change="selectBillingAddress(selectedBillingIndx)">
                                    <option data-ng-repeat="address in addresses" value="{{$index}}">{{address}}
                                    </option>
                                    <option value="">Create new address</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <hr style="border-bottom: 1px solid rgb(254, 152, 15);"/>
                <div class="col-md-offset-2">
                    <form class="form-horizontal" data-ng-submit="setActiveStep(2)">
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingFirstName"><i
                                    class="fa fa-question-circle fa-fw"></i>First Name</label></div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="billingFirstName" placeholder="first name"
                                       data-ng-model="order.billingAddress.firstName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingLasetName"><i
                                    class="fa fa-question-circle fa-fw"></i>Last Name</label></div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="billingLasetName" placeholder="last name"
                                       data-ng-model="order.billingAddress.lastName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingEmail"><i class="fa fa-question-circle fa-fw"></i>
                                Email</label></div>
                            <div class="col-md-4">
                                <input type="email" class="form-control" id="billingEmail" placeholder="email address"
                                       data-ng-model="order.billingAddress.email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingAddressLine1"><i
                                    class="fa fa-question-circle fa-fw"></i> Address line 1</label></div>
                            <div class="col-md-4">
                                <input id="billingAddressLine1" placeholder="address line 1" class="form-control"
                                       type="text" data-ng-model="order.billingAddress.addressLine1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingAddressLine2"><i
                                    class="fa fa-question-circle fa-fw"></i> Address line 2</label></div>
                            <div class="col-md-4">
                                <input id="billingAddressLine2" placeholder="address line 2" class="form-control"
                                       type="text" data-ng-model="order.billingAddress.addressLine2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingCity"><i class="fa fa-question-circle fa-fw"></i>
                                City</label></div>
                            <div class="col-md-4">
                                <input id="billingCity" placeholder="city" class="form-control" type="text"
                                       data-ng-model="order.billingAddress.city" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingCountry"><i
                                    class="fa fa-question-circle fa-fw"></i> Country</label></div>
                            <div class="col-md-4">
                                <input id="billingCountry" placeholder="country" class="form-control" type="text"
                                       data-ng-model="order.billingAddress.country" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingPostCode"><i
                                    class="fa fa-question-circle fa-fw"></i> Post Code</label></div>
                            <div class="col-md-4">
                                <input id="billingPostCode" placeholder="post Code" class="form-control" type="text"
                                       data-ng-model="order.billingAddress.postCode" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="billingPhoneNumber"><i
                                    class="fa fa-question-circle fa-fw"></i> Phone Number</label></div>
                            <div class="col-md-4">
                                <input id="billingPhoneNumber" placeholder="phone number" class="form-control"
                                       type="text" ng-model="order.billingAddress.phoneNumber" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </div>

                        <div class="form-group text-center col-md-10" data-ng-show="pleaseWait">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="open.tab2" is-disabled="isDisablePanel(2)">
            <uib-accordion-heading>
                2. Shipping address <i class="pull-right fa"
                                       ng-class="{'fa-angle-double-down': open.tab2, 'fa-angle-double-right': !open.tab2}"></i>
            </uib-accordion-heading>
            <div class="panel-body">
                <div class="col-md-offset-2">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-3"><label><i class="fa fa-question-circle fa-fw"></i>Select your shipping
                                address</label></div>
                            <div class="col-md-4">
                                <select class="form-control" ng-model="selectedShippingIndx"
                                        ng-change="selectShippingAddress(selectedShippingIndx)">
                                    <option data-ng-repeat="address in addresses" value="{{$index}}">{{address}}
                                    </option>
                                    <option value="">Create new address</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <hr style="border-bottom: 1px solid rgb(254, 152, 15);"/>
                <div class="col-md-offset-2">
                    <form class="form-horizontal" data-ng-submit="setActiveStep(3)">
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingFirstName"><i
                                    class="fa fa-question-circle fa-fw"></i>First Name</label></div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="shippingFirstName" placeholder="first name"
                                       data-ng-model="order.shippingAddress.firstName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingLasetName"><i
                                    class="fa fa-question-circle fa-fw"></i>Last Name</label></div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="shippingLasetName" placeholder="last name"
                                       data-ng-model="order.shippingAddress.lastName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingEmail"><i class="fa fa-question-circle fa-fw"></i>
                                Email</label></div>
                            <div class="col-md-4">
                                <input type="email" class="form-control" id="shippingEmail" placeholder="email address"
                                       data-ng-model="order.shippingAddress.email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingAddressLine1"><i
                                    class="fa fa-question-circle fa-fw"></i> Address line 1</label></div>
                            <div class="col-md-4">
                                <input id="shippingAddressLine1" placeholder="address line 1" class="form-control"
                                       type="text" data-ng-model="order.shippingAddress.addressLine1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingAddressLine2"><i
                                    class="fa fa-question-circle fa-fw"></i> Address line 2</label></div>
                            <div class="col-md-4">
                                <input id="shippingAddressLine2" placeholder="address line 2" class="form-control"
                                       type="text" data-ng-model="order.shippingAddress.addressLine2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingCity"><i class="fa fa-question-circle fa-fw"></i>
                                City</label></div>
                            <div class="col-md-4">
                                <input id="shippingCity" placeholder="city" class="form-control" type="text"
                                       data-ng-model="order.shippingAddress.city" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingCountry"><i
                                    class="fa fa-question-circle fa-fw"></i> Country</label></div>
                            <div class="col-md-4">
                                <input id="shippingCountry" placeholder="country" class="form-control" type="text"
                                       data-ng-model="order.shippingAddress.country" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingPostCode"><i
                                    class="fa fa-question-circle fa-fw"></i> Post Code</label></div>
                            <div class="col-md-4">
                                <input id="shippingPostCode" placeholder="post Code" class="form-control" type="text"
                                       data-ng-model="order.shippingAddress.postCode" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"><label for="shippingPhoneNumber"><i
                                    class="fa fa-question-circle fa-fw"></i> Phone Number</label></div>
                            <div class="col-md-4">
                                <input id="shippingPhoneNumber" placeholder="phone number" class="form-control"
                                       type="text" ng-model="order.shippingAddress.phoneNumber" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="open.tab3" is-disabled="isDisablePanel(3)">
            <uib-accordion-heading>
                3. Shipping method <i class="pull-right fa"
                                      ng-class="{'fa-angle-double-down': open.tab3, 'fa-angle-double-right': !open.tab3}"></i>
            </uib-accordion-heading>
            <div class="panel-body">
                <div class="col-md-offset-2">
                    <form class="form-horizontal" data-ng-submit="setActiveStep(4)">
                        <div class="form-group">
                            <div class="col-md-3 shipping-method">
                                <label class="radio-inline">
                                    <input type="radio" name="shippingMethodOptions" id="shippingToday"
                                           value="shippingToday" data-ng-model="order.shippingMethod" required> Delivery today
                                </label>
                            </div>
                            <div class="col-md-3 shipping-method left-margin">
                                <label class="radio-inline">
                                    <input type="radio" name="shippingMethodOptions" id="shippingNextDay"
                                           value="shippingNextDay" data-ng-model="order.shippingMethod"> Delivery next day
                                </label>
                            </div>
                            <div class="col-md-3 shipping-method left-margin">
                                <label class="radio-inline">
                                    <input type="radio" name="shippingMethodOptions" id="shipping2ndDay"
                                           value="shipping2ndDay" data-ng-model="order.shippingMethod"> Delivery
                                    2nd day
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="open.tab4" is-disabled="isDisablePanel(4)">
            <uib-accordion-heading>
                4. Payment method <i class="pull-right fa"
                                     ng-class="{'fa-angle-double-down': open.tab4, 'fa-angle-double-right': !open.tab4}"></i>
            </uib-accordion-heading>
            <div class="panel-body">
                <div class="col-md-offset-2">
                    <form class="form-horizontal" data-ng-submit="setActiveStep(5)">
                        <div class="form-group">
                            <div class="col-md-3 payment-method text-center">
                                <div class="text-center" style="width: 175px;">
                                    <img style="height:57px; width: 175px" class="img-responsive" src="themes/lightweight/assets/img/hand-cash.png" alt="hand cash"/>
                                </div>
                                <label class="radio-inline">
                                    <input type="radio" name="paymentMethodOptions" id="paymentHandCash"
                                           value="handCash" data-ng-model="order.paymentMethod" required> Hand cash
                                </label>
                            </div>
                            <div class="col-md-3 payment-method left-margin text-center">
                                <div>
                                    <img class="img-responsive" src="themes/lightweight/assets/img/stripe.png" alt="creditCard"/>
                                </div>
                                <label class="radio-inline">
                                    <input type="radio" name="paymentMethodOptions" id="creditCard"
                                           value="creditCard" data-ng-model="order.paymentMethod" required> Payment with credit card
                                </label>
                            </div>
                            <div class="col-md-3 payment-method left-margin text-center">
                                <div class="text-center" style="width: 175px;">
                                    <img class="img-responsive" src="themes/lightweight/assets/img/paypal.png" alt="paypal"/>
                                </div>
                                <label class="radio-inline">
                                    <input type="radio" name="paymentMethodOptions" id="paypal"
                                           value="paypal" data-ng-model="order.paymentMethod" required> Payment with paypal
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="open.tab5" is-disabled="isDisablePanel(5)">
            <uib-accordion-heading>
                5. Payment information <i class="pull-right fa"
                                          ng-class="{'fa-angle-double-down': open.tab5, 'fa-angle-double-right': !open.tab5}"></i>
            </uib-accordion-heading>
            <div class="panel-body">
                <!--========Form for hand cash=========-->
                <div class="col-md-offset-2" data-ng-show="order.paymentMethod === 'handCash'">
                    <form class="form-horizontal" data-ng-submit="setActiveStep(6)">
                        <div class="form-group">
                            <div class="col-md-10 payment-method text-center">
                                <label class="radio-inline">
                                    <input type="radio" value="handCash" name="paymentInfo"
                                           data-ng-model="order.paymetnInfo.handCash" checked required> Hand cash
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--========Form for stripe card=========-->

                <div class="col-md-offset-2" data-ng-show="order.paymentMethod === 'creditCard'">
                    <form class="form-horizontal" data-ng-submit="checkCreditCardValidation()">
                        <p class="bg-danger">{{cardError}}</p>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="holderName"><i class="fa fa-question-circle fa-fw"></i>Cardholder name</label>
                            </div>
                            <div class="col-sm-4 input-group">
                                <input type="text" class="form-control" id="holderName" data-ng-model="creditCardInfo.cardHolderName" placeholder="Cardholder name">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="cardNumber"><i class="fa fa-question-circle fa-fw"></i>Card number</label>
                            </div>
                            <div class="col-sm-4 input-group">
                                <input type="text" class="form-control" id="cardNumber" data-ng-model="creditCardInfo.cardNumber" data-max-size="16" placeholder="Card number">
                                <span class="input-group-addon"><i class="fa" ng-class="cardTypeShow()"></i></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="expireMonth"><i class="fa fa-question-circle fa-fw"></i>Expiration date</label>
                            </div>
                            <div class="col-sm-4 input-group">
                                <div class="col-sm-6">
                                    <select class="form-control" id="expireMonth" ng-model="creditCardInfo.cardExpireMonth" data-ng-options="month for month in months"></select>
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="creditCardInfo.cardExpireYear" data-ng-options="year for year in years"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label for="cvc"><i class="fa fa-question-circle fa-fw"></i>Card code</label>
                            </div>
                            <div class="col-sm-4 input-group">
                                <input type="text" class="form-control" id="cvc" data-ng-model="creditCardInfo.cardCVC" placeholder="Card Code">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-4">
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--========Form for Paypal card=========-->

                <div class="col-md-offset-2" data-ng-show="order.paymentMethod === 'paypal'">
                    <form class="form-horizontal" data-ng-submit="setActiveStep(6)">
                        <div class="form-group">
                            <div class="col-md-10 payment-method text-center">
                                <label>Payment with paypal ... continue and confirm and redirect to paypal</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-4">
                                <button type="submit" class="btn btn-primary">Continue</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </uib-accordion-group>

        <uib-accordion-group is-open="open.tab6" is-disabled="isDisablePanel(6)">
            <uib-accordion-heading>
                6. Confirm order <i class="pull-right fa"
                                    ng-class="{'fa-angle-double-down': open.tab6, 'fa-angle-double-right': !open.tab6}"></i>
            </uib-accordion-heading>
            <div class="panel-body">
                <div class="col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6 table-responsive">
                            <table class="table">
                                <thead class="checkout-page-thead">
                                <tr>
                                    <td>Billing address</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{order.billingAddress.firstName}} {{order.billingAddress.lastName}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td data-ng-bind="order.billingAddress.email"></td>
                                </tr>
                                <tr>
                                    <td>Address line-1</td>
                                    <td data-ng-bind="order.billingAddress.addressLine1"></td>
                                </tr>
                                <tr>
                                    <td>Address line-2</td>
                                    <td data-ng-bind="order.billingAddress.addressLine2"></td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td data-ng-bind="order.billingAddress.city"></td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td data-ng-bind="order.billingAddress.country"></td>
                                </tr>
                                <tr>
                                    <td>Post code</td>
                                    <td data-ng-bind="order.billingAddress.postCode"></td>
                                </tr>
                                <tr>
                                    <td>Phone number</td>
                                    <td data-ng-bind="order.billingAddress.phoneNumber"></td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead class="checkout-page-thead">
                                <tr>
                                    <td>Shipping address</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{order.shippingAddress.firstName}} {{order.shippingAddress.lastName}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td data-ng-bind="order.shippingAddress.email"></td>
                                </tr>
                                <tr>
                                    <td>Address line-1</td>
                                    <td data-ng-bind="order.shippingAddress.addressLine1"></td>
                                </tr>
                                <tr>
                                    <td>Address line-2</td>
                                    <td data-ng-bind="order.shippingAddress.addressLine2"></td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td data-ng-bind="order.shippingAddress.city"></td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td data-ng-bind="order.shippingAddress.country"></td>
                                </tr>
                                <tr>
                                    <td>Post code</td>
                                    <td data-ng-bind="order.shippingAddress.postCode"></td>
                                </tr>
                                <tr>
                                    <td>Phone number</td>
                                    <td data-ng-bind="order.shippingAddress.phoneNumber"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <thead class="checkout-page-thead">
                                <tr>
                                    <td>Payment</td>
                                </tr>
                                </thead>
                                <tr>
                                    <td>Payment method</td>
                                    <td data-ng-bind="order.paymentMethod"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead class="checkout-page-thead">
                                <tr>
                                    <td>Shipping</td>
                                </tr>
                                </thead>
                                <tr>
                                    <td>Shipping method</td>
                                    <td data-ng-bind="order.shippingMethod"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive checkout-info">
                            <h2>Product(s) Information</h2>
                            <table class="table table-bordered">
                                <thead>
                                <tr class="item-menu">
                                    <td>Im</td>
                                    <td>Product(s)</td>
                                    <td>Price</td>
                                    <td>Quantity</td>
                                    <td>Total</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="item in items">
                                    <td style="margin:0">
                                        <div class="item-img">
                                            <a data-ui-sref="Product({sku:item.product.info.sku})" target="_blank">
                                                <img class="img-responsive" data-ng-if="item.product.photos.length > 0"
                                                     data-ng-src="/api/products/photos/{{item.product.photos[0].id}}"
                                                     alt="">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <h4><a data-ui-sref="Product({sku:item.product.info.sku})" target="_blank">{{item.product.info.name}}</a>
                                        </h4>
                                    </td>
                                    <td>
                                        <p>{{item.product.info.price | currency}}</p>
                                    </td>
                                    <td class="text-center">
                                        <span data-ng-bind="item.quantity"></span>
                                    </td>
                                    <td class="cart-total">
                                        <p class="cart_total_price">{{(item.product.info.price * item.quantity) |
                                            currency}}</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <hr/>
                            <div class="col-sm-12 col-md-12"
                                 style="margin-top: 10px; padding: 10px;background-color: #f9f9f9;">

                                <table class="table table-responsive table-hover">
                                    <tbody>
                                    <tr>
                                        <td>Sub Total:</td>
                                        <td class="text-right" data-ng-bind="subTotal | currency"></td>
                                    </tr>
                                    <tr>
                                        <td>Shipping:</td>
                                        <td class="text-right" data-ng-bind="order.shippingCost | currency"></td>
                                    </tr>
                                    <tr style="color: #4ab2f1; font-size: 24px;">
                                        <td>Total:</td>
                                        <td class="text-right"
                                            data-ng-bind=" subTotal +order.shippingCost + tax | currency"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-4">
                            <button class="btn btn-primary btn-block" data-ng-click="confirmOrder()">CONFIRM</button>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
