<div>
    <div class="row text-center">
        <h2>Thank you</h2>
    </div>

    <hr/>

    <div class="row text-center">
        <div class="title" style="font-size: 20px; padding: 10px; color: #444;">
            <strong>Your order has been successfully processed!</strong>
        </div>
        <div>
            <label>ORDER NUMBER: {{orderId}}</label>
        </div>
        <div>
            <a href="/#!/order/{{orderId}}">Click here for order details</a>
        </div>
    </div>

    <div class="row text-center">
        <a class="btn btn-primary" href="/#!/">CONTINUE</a>
    </div>

</div>
