<div>
    <div class="text-center">
        <h2>Welcome, Please Sign In!</h2>
    </div>
    <hr>

    <div class="col-sm-12">
        <div class="col-sm-6">
            <h3>Checkout as a guest or register</h3>
            <hr>
            <div>
                <h4>Register and save time!</h4>
                <span>Register with us for future convenience:</span>
                <ul>
                    <li>Fast and easy check out</li>
                    <li>Easy access to your order history and status</li>
                </ul>
            </div>
            <div>
                <button type="button" class="btn btn-primary" data-ng-click="checkoutAsGuest()">Checkout as guest</button>
                <button type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>Returning Customer</h3>
            <hr>
            <div>
                <form name="loginFromCheckoutForm" class="form-horizontal" ng-submit="loginFromCheckoutForm.$valid && loginFromCheckout()">
                    <div class="form-group" data-ng-if="errorLogin">
                        <p class="bg-danger">{{errorLogin}}</p>
                    </div>
                    <div class="form-group">
                        <label for="userEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="userEmail" placeholder="Email" ng-model="user.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="userPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary btn-block" ng-disabled="loginFromCheckoutForm.$invalid">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
