<div>
    <div class="row text-center">
        <h2>Thank you</h2>
    </div>

    <hr/>

    <div class="row text-center">
        <div class="title" style="font-size: 20px; padding: 10px; color: #444;">
            <strong>Paypal payment Information</strong>
        </div>
        <hr>
        <div>
            <p><label>Pypal payment ID: {{paymentId}}</label></p>
            <p><label>Paypal payer ID: {{PayerID}}</label></p>
            <p><label>Approved payment for order ID: {{orderId}}</label></p>
        </div>
        <div>
            <button class="btn btn-primary" data-ng-click="confirmPayment()">Save this order</button>
        </div>
    </div>
</div>
