.filter_input {
}
.filter_input label {
  font-size: 17px;
  margin-right: 5px;
}

.filter_input input[type="date"] {
  width: 80%;
  padding: 10px;
}

.filter_input input[type="time"] {
  width: 80%;
  padding: 10px;
}
