<div class="table-responsive cart-info">
    <div class="text-center">
        <h1>Wishlist of</h1>
    </div>
    <hr>
    <div data-ng-if="wishlistId && items.length">
        <table class="table table-condensed table-bordered">
            <thead>
            <tr class="cart-menu text-center">
                <td>Add to cart</td>
                <td>Image</td>
                <td>Product(s)</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in items" class="text-center">
                <td>
                    <input type="checkbox" data-ng-model="item.addToCart">
                </td>
                <td>
                    <div class="item-img">
                        <a data-ui-sref="Product({sku:item.product.info.sku})">
                            <img class="img-responsive" data-ng-if="item.product.photos.length > 0"
                                 data-ng-src="/api/products/photos/{{item.product.photos[0].id}}" alt="">
                        </a>
                    </div>

                </td>
                <td>
                    <h4><a data-ui-sref="Product({sku:item.product.info.sku})">{{item.product.info.name}}</a></h4>
                </td>
                <td>
                    {{item.product.info.price | currency}}
                </td>
                <td>
                    <div class="cart-quantity-btn">
                        <label data-ng-bind="item.quantity"></label>
                    </div>
                </td>
                <td class="cart-total-price">{{(item.product.info.price * item.quantity) | currency}}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button class="btn btn-primary" data-ng-click="addWishlistToCart()">Add to cart</button>
        </div>
    </div>

    <div data-ng-if="!wishlistId || !items.length" class="text-center">
        <h3>The wishlist is empty!</h3>
        <a ui-sref="home" class="btn btn-default">Continue</a>
    </div>
</div>

