<div class=" row bs-fa-color">
<div class="row">

    <div class="admin-title">
        <h3>
            <i class="fa fa-car"></i> Add A New Shipment To Order #{{orderId}} (<a data-ui-sref="Order.Edit({orderId: orderId})">back to order details</a>)
        </h3>
    </div>
</div>
<hr>
<div>
    <form class="form-horizontal" name="addShipmentForm" data-ng-submit="addShipment()">
        <div class="form-group">
            <label class="col-sm-2" for="trackingNumber"><i class="fa fa-question-circle fa-fw"></i> Tracking Number</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="trackingNumber" placeholder="tracking number" data-ng-model="trackingNumber">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="adminComment"><i class="fa fa-question-circle fa-fw"></i> Admin comment</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="adminComment" placeholder="Admin comment" data-ng-model="adminComment">
            </div>
        </div>
        <hr>
        <h4>Products to ship:</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" role="grid">
                <thead class="tbl-header">
                <tr class="row">
                    <th>Product</th>
                    <th>SKU</th>
                    <th>Quantity ordered</th>
                    <th>Quantity shipped</th>
                    <th>Quantity to ship</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row" data-ng-repeat="product in shipmentAbleProducts">
                    <td><a data-ui-sref="Product.Edit({productId: product.productId._id})">{{product.name}}</a></td>
                    <td data-ng-bind="product.sku"></td>
                    <td data-ng-bind="product.quantity"></td>
                    <td data-ng-bind="product.shippedQuantity"></td>
                    <td><input type="number" data-ng-model="product.quantityShipped" max="{{product.maxToShip}}" required></td>
                </tr>
                <tr class="row" >
                    <td colspan="5" class="tbl-header"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn btn-primary">Add shipment</button>
    </form>
</div>
</div>

