<div class="admin-title"><h3>Add a new Category <a ui-sref="Category.List">(back to Category list)</a></h3>
    <button class="btn btn-info" ng-click="createCategory();" data-ng-disabled="categoryCreateForm.$invalid">Save All</button>
</div>
<div>
    <form name="categoryCreateForm">
        <uib-tabset>
            <uib-tab heading="Category Info">
                <tab-category-info></tab-category-info>
            </uib-tab>
            <uib-tab heading="SEO">
                <tab-category-seo></tab-category-seo>
            </uib-tab>
            <!--<uib-tab heading="Pictures">-->
                <!--<tab-category-pictures></tab-category-pictures>-->
            <!--</uib-tab>-->
            <!--<uib-tab heading="Discounts">-->
                <!--<tab-category-discounts></tab-category-discounts>-->
            <!--</uib-tab>-->
            <!--<uib-tab heading="Access Control list">-->
                <!--<tab-category-acl></tab-category-acl>-->
            <!--</uib-tab>-->
            <!--<uib-tab heading="Stores">-->
                <!--<tab-category-stores></tab-category-stores>-->
            <!--</uib-tab>-->
        </uib-tabset>
    </form>
</div>

