<div>
    <h1> {{catId}} </h1>
    <div class="admin-title"><h3>Edit Category Details <a ui-sref="Category.List">(back to Category list)</a></h3>
        <button type="button" class="btn btn-danger" ng-click="delete();"> Delete </button>
        <button class="btn btn-info" type="button" data-ng-click="update();" data-ng-disabled="categoryEditForm.$invalid">Save All</button>
    </div>

    <form name="categoryEditForm">
        <uib-tabset>
            <uib-tab heading="Category Info">
                <tab-category-info></tab-category-info>
            </uib-tab>
            <uib-tab heading="SEO">
                <tab-category-seo></tab-category-seo>
            </uib-tab>
            <!--<uib-tab heading="Pictures">-->
                <!--<tab-category-pictures></tab-category-pictures>-->
            <!--</uib-tab>-->
            <!--<uib-tab heading="Discounts">-->
                <!--<tab-category-discounts></tab-category-discounts>-->
            <!--</uib-tab>-->
            <!--<uib-tab heading="Access Control list">-->
                <!--<tab-category-acl></tab-category-acl>-->
            <!--</uib-tab>-->
            <!--<uib-tab heading="Stores">-->
                <!--<tab-category-stores></tab-category-stores>-->
            <!--</uib-tab>-->
        </uib-tabset>
    </form>
</div>
