# Build folders
/build
packages/*/build/
packages/*/examples/*/build/
es
lib
dist
umd
css


# Cache folders
.cache

# Logs
logs
*.log


# Editor
.DS_Store
*.swp
.idea
.vscode

# Dependency directory
node_modules

#lock file
package-lock.json