<section class="row">

	<h3 class="col-md-12 text-center">Sign in using your account</h3>
	<div class="col-md-offset-3 col-md-9">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username" class="col-md-3 control-label">Username</label>
					<div class="col-md-4">
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-md-3 control-label">Password</label>
					<div class="col-md-4">
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
					</div>

				</div>
				<div class="form-group">
					<div class="col-md-offset-3 col-md-4">
						<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
						<a href="/#!/signup">Sign up</a>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-3 col-md-4 forgot-password">
						<a href="/#!/password/forgot">Forgot your password?</a>
					</div>
				</div>
				<div data-ng-show="error" class="col-md-offset-2 text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
