.container {
  position: fixed;
  background-color: #32374a;
  /* width: 70%; */
  height: 80px;
  box-sizing: border-box;
  margin-left: 250px;
  padding-top: 10px;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

.container_inactive {
  position: fixed;
  background-color: #32374a;
  /* width: 100%; */
  height: 80px;
  box-sizing: border-box;
  margin-left: 80px;
  padding-top: 10px;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
}

.toggle_menu_btn {
  /* margin-left: 250px; */
  color: white;
  font-size: 40px;
  /* position: absolute; */
  /* top: 50%; */
  /* right: -70px; */
  /* transform: translateY(-50%); */
  display: flex;
  cursor: pointer;
}

.container .nav_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 270px;
  align-items: center;
  font-size: 20px;
}

.container_inactive .nav_content {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.nav_username {
  color: white;
  padding-right: 40px;
}

.nav_settings {
  color: white;
}

/* @media (max-width: 600px) {
  .container {
    width: 760px;
  }
} */
