.checkout-info .item-menu {
    background: #5cb85c;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.checkout-info .item-img {
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.checkout-page-thead {
    font-size: 16px;
    font-weight: bold;
}

.checkout-info table tr td {
    vertical-align: inherit;
}

.shipping-method {
    padding: 10px;
    background-color: #f6f6f6;
}

.left-margin {
    margin-left: 5px;
}

.payment-method {
    padding: 10px;
    background-color: #f6f6f6;
}
