<div class="bs-fa-color row">
    <div class="row">
        <div class="admin-title">
            <h3>
                <i class="fa fa-list"></i> Edit Order details (<a data-ui-sref="Order.List">back to order list</a>)
            </h3>
        </div>
    </div>
    <hr>
    <div class="row" style="border: 2px solid #C5C5C5;">
        <uib-tabset>
            <uib-tab heading="Info">
                <div class="col-md-12">
                    <form class="form-horizontal" style="margin-top: 20px;">
                        <h2>Order informations</h2>
                        <hr>

                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Order Id</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order._id"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Order status</label>
                            <div class="col-sm-10" data-ng-show="!editOrderStatus">
                                <span class="form-control-static pull-left" data-ng-bind="order.orderStatus"></span>
                                <button class="btn btn-default" style="margin-left: 10px;"  data-ng-click="changeOrderStatus()">Change status</button>
                            </div>
                            <div class="col-sm-10" data-ng-show="editOrderStatus">
                                <span style="float: left; margin-right: 10px;" data-ng-bind="order.orderStatus"></span>
                                <select class="form-control" data-ng-model="selectedOrderStatus" style="width: auto; float: left">
                                    <option value="">Select order status</option>
                                    <option value="{{status}}" data-ng-repeat="status in orderStatus" >{{status}}</option>
                                </select>
                                <div class="" style="float: left; margin-left: 10px;">
                                    <button class="btn btn-default" data-ng-click="cancelUpdateOrderStatus()">cancel</button>
                                    <button class="btn btn-primary" data-ng-click="updateOrderStatus(selectedOrderStatus)">save</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Order subtotal</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.productCost | currency"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Order shipping</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingCost | currency"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Order tax</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="(order.tax || 0) | currency"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Order total</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.totalCost | currency"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Profit</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="(order.profit || 0) | currency"></span>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Customer</label>
                            <div class="col-sm-10">
                                <a ui-sref="User.Edit({userId: order.user._id})">{{order.user.firstName +' '+ order.user.lastName +' ('+ order.user.email +')'}}</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Created on</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.orderedDate"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </uib-tab>

            <uib-tab heading="Billing info">
                <div class="col-md-12">
                    <form class="form-horizontal" style="margin-top: 20px;" data-ng-show="!showEditBillingAddressForm" novalidate>
                        <h2>Billing address</h2>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Payment method</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.paymentMethod"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Payment status</label>
                            <div class="col-sm-10" data-ng-show="!editPaymentStatus">
                                <span class="form-control-static pull-left" data-ng-bind="order.paymentStatus"></span>
                                <button class="btn btn-default" style="margin-left: 10px;"  data-ng-click="changePaymentStatus()">Change status</button>
                            </div>
                            <div class="col-sm-10" data-ng-show="editPaymentStatus">
                                <span style="float: left; margin-right: 10px;" data-ng-bind="order.paymentStatus"></span>
                                <select class="form-control" data-ng-model="selectedPaymentStatus" style="width: auto; float: left">
                                    <option value="" data-ng-model="orderStatus">Select payment status</option>
                                    <option value="{{status}}" data-ng-repeat="status in paymentStatus" >{{status}}</option>
                                </select>
                                <div class="" style="float: left; margin-left: 10px;">
                                    <button class="btn btn-default" data-ng-click="cancelUpdatePaymentStatus()">cancel</button>
                                    <button class="btn btn-primary" data-ng-click="updatePaymentStatus(selectedPaymentStatus)">save</button>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> First name</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.firstName"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Last name</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.lastName"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Email</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.email"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Address line-1</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.addressLine1"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Address line-2</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.addressLine2"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> City</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.city"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Country</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.country"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Post code</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.postCode"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Phone number</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.billingAddress.phoneNumber"></span>
                            </div>
                        </div>
                        <button class="btn btn-default" data-ng-click="editBillingAddress()">Edit</button>

                    </form>
                    <form class="form-horizontal" name="billingAddressForm" style="margin-top: 20px;" data-ng-show="showEditBillingAddressForm" data-ng-submit="updateBillingAddress()">
                        <h2>Billing address</h2>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressFirstName"><i class="fa fa-question-circle fa-fw"></i> First name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="billAddressFirstName" placeholder="first name" data-ng-model="newBillingAddress.firstName" ng-required="billAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressLastName"><i class="fa fa-question-circle fa-fw"></i> Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="billAddressLastName" placeholder="last name" data-ng-model="newBillingAddress.lastName" ng-required="billAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressEmail"><i class="fa fa-question-circle fa-fw"></i> Email</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" id="billAddressEmail" placeholder="email address" data-ng-model="newBillingAddress.email" ng-required="billAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressLine1"><i class="fa fa-question-circle fa-fw"></i> Address line-1</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="billAddressLine1" placeholder="address line 1" data-ng-model="newBillingAddress.addressLine1" ng-required="billAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressLine2"><i class="fa fa-question-circle fa-fw"></i> Address line-2</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="billAddressLine2" placeholder="address line 2" data-ng-model="newBillingAddress.addressLine2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressCity"><i class="fa fa-question-circle fa-fw"></i> City</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="billAddressCity" placeholder="city" data-ng-model="newBillingAddress.city" ng-required="billAddressFieldRequired">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressCountry"><i class="fa fa-question-circle fa-fw"></i> Country</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="billAddressCountry" placeholder="country" data-ng-model="newBillingAddress.country" ng-required="billAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressPostCode"><i class="fa fa-question-circle fa-fw"></i> Post code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="billAddressPostCode" placeholder="Post code" data-ng-model="newBillingAddress.postCode" ng-required="billAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="billAddressPhoneNo"><i class="fa fa-question-circle fa-fw"></i> Phone number</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="billAddressPhoneNo" placeholder="phone number" data-ng-model="newBillingAddress.phoneNumber" ng-required="billAddressFieldRequired">
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-ng-click="cancelUpdateBillingAddress()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </uib-tab>

            <uib-tab heading="Shipping info">
                <div class="col-md-12">
                    <form class="form-horizontal" style="margin-top: 20px;" data-ng-show="!showEditShippingAddressForm" novalidate>
                        <h2>Shipping address</h2>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Shipping method</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingMethod"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Shipping status</label>
                            <div class="col-sm-10" data-ng-show="!editShippingStatus">
                                <span class="form-control-static pull-left" data-ng-bind="order.shippingStatus"></span>
                                <button class="btn btn-default" style="margin-left: 10px;"  data-ng-click="changeShippingStatus()">Change status</button>
                            </div>
                            <div class="col-sm-10" data-ng-show="editShippingStatus">
                                <span style="float: left; margin-right: 10px;" data-ng-bind="order.shippingStatus"></span>
                                <select class="form-control" data-ng-model="selectedShippingStatus" style="width: auto; float: left">
                                    <option value="" data-ng-model="orderStatus">Select shipping status</option>
                                    <option value="{{status}}" data-ng-repeat="status in shippingStatus" >{{status}}</option>
                                </select>
                                <div class="" style="float: left; margin-left: 10px;">
                                    <button class="btn btn-default" data-ng-click="cancelUpdateShippingStatus()">cancel</button>
                                    <button class="btn btn-primary" data-ng-click="updateShippingStatus(selectedShippingStatus)">save</button>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> First name</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.firstName"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Last name</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.lastName"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Email</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.email"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Address line-1</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.addressLine1"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Address line-2</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.addressLine2"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> City</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.city"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Country</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.country"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Post code</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.postCode"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2"><i class="fa fa-question-circle fa-fw"></i> Phone number</label>
                            <div class="col-sm-10">
                                <span class="form-control-static" data-ng-bind="order.shippingAddress.phoneNumber"></span>
                            </div>
                        </div>
                        <button class="btn btn-default" data-ng-click="editShippingAddress()">Edit</button>

                        <hr>
                        <h3>Shipment</h3>
                        <shipment-list-by-order-id></shipment-list-by-order-id>

                    </form>
                    <form class="form-horizontal" name="shippingAddressForm" style="margin-top: 20px;" data-ng-show="showEditShippingAddressForm" data-ng-submit="updateShippingAddress()">
                        <h2>Shipping address</h2>
                        <hr>
                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressFiratName"><i class="fa fa-question-circle fa-fw"></i> First name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="shippingAddressFiratName" placeholder="first name" data-ng-model="newShippingAddress.firstName" ng-required="shippingAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressLastName"><i class="fa fa-question-circle fa-fw"></i> Last name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="shippingAddressLastName" placeholder="name" data-ng-model="newShippingAddress.lastName" ng-required="shippingAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressEmail"><i class="fa fa-question-circle fa-fw"></i> Email</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" id="shippingAddressEmail" placeholder="email address" data-ng-model="newShippingAddress.email" ng-required="shippingAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressLine1"><i class="fa fa-question-circle fa-fw"></i> Address line-1</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="shippingAddressLine1" placeholder="address line 1" data-ng-model="newShippingAddress.addressLine1" ng-required="shippingAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressLine2"><i class="fa fa-question-circle fa-fw"></i> Address line-2</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="shippingAddressLine2" placeholder="address line 2" data-ng-model="newShippingAddress.addressLine2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressCity"><i class="fa fa-question-circle fa-fw"></i> City</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="shippingAddressCity" placeholder="city" data-ng-model="newShippingAddress.city" ng-required="shippingAddressFieldRequired">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressCountry"><i class="fa fa-question-circle fa-fw"></i> Country</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="shippingAddressCountry" placeholder="country" data-ng-model="newShippingAddress.country" ng-required="shippingAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressPostCode"><i class="fa fa-question-circle fa-fw"></i> Post code</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="shippingAddressPostCode" placeholder="Post code" data-ng-model="newShippingAddress.postCode" ng-required="shippingAddressFieldRequired">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2" for="shippingAddressPhoneNo"><i class="fa fa-question-circle fa-fw"></i> Phone number</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="shippingAddressPhoneNo" placeholder="phone number" data-ng-model="newShippingAddress.phoneNumber" ng-required="shippingAddressFieldRequired">
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-ng-click="cancelUpdateShippingAddress()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </uib-tab>

            <uib-tab heading="Product info">
                <div class="">
                    <div class=" col-md-12 table-responsive cart_info">
                        <h2>Product(s) Information</h2>
                        <table class="table table-bordered">
                            <thead>
                            <tr class="cart_menu">
                                <td class="image">Picture</td>
                                <td class="description">Product(s)</td>
                                <td class="price">Price</td>
                                <td class="quantity">Quantity</td>
                                <td class="total">Total</td>
                                <td class="edit">Edit</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in order.products">
                                <td class="cart_product" style="margin:0">
                                    <img data-ng-src="/api/products/photos/{{item.productId.photos[0].id}}" alt="no image" style="max-height: 50px">
                                </td>
                                <td class="cart_description">
                                    <h4><a data-ui-sref="Product.Edit({productId: item.productId._id})" target="_blank">{{item.name}}</a></h4>
                                </td>
                                <td class="cart_price">
                                    <span>{{item.price | currency}}</span>
                                </td>
                                <td class="cart_quantity text-center">
                                    <span data-ng-show="newItem._id !== item._id" data-ng-bind="item.quantity"></span>
                                    <div class="cart_quantity_button" data-ng-show="newItem._id === item._id">
                                        <a class="cart_quantity_up" style="padding-top: 5px;" href="" data-ng-click="increaseQuantity(newItem)"> <i class="fa fa-plus"></i></a>
                                        <input class="cart_quantity_input" type="text" name="quantity" autocomplete="off" size="2" data-ng-model="newItem.quantity">
                                        <a class="cart_quantity_down" style="padding-top: 5px;" href="" data-ng-click="decreaseQuantity(newItem)"><i class="fa fa-minus"></i> </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <span class="cart_total_price" data-ng-show="newItem._id !== item._id">{{(item.price * item.quantity) | currency}}</span>
                                    <span class="cart_total_price" data-ng-show="newItem._id === item._id">{{(newItem.price * newItem.quantity) | currency}}</span>
                                </td>
                                <td class="text-center">
                                    <button data-ng-show="newItem._id !== item._id" type="button" class="btn btn-default" data-ng-click="editProductInfo(item)"><i class="fa fa-edit"></i></button>
                                    <div data-ng-show="newItem._id === item._id">
                                        <button type="button" class="btn btn-default" data-ng-click="cancelUpdateProductInfo()">Cancel</button>
                                        <button type="button" class="btn btn-primary" data-ng-click="updateProductInfo(newItem)">Save</button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr/>
                        <div class="col-sm-12 col-md-12 table-responsive" style="margin-top: 10px; padding: 10px;background-color: #f9f9f9;">

                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td>Sub Total:</td>
                                    <td class="text-right" data-ng-bind="order.productCost | currency"></td>
                                </tr>
                                <tr>
                                    <td>Shipping:</td>
                                    <td class="text-right" data-ng-bind="order.shippingCost | currency"></td>
                                </tr>
                                <tr>
                                    <td>Tax:</td>
                                    <td class="text-right" data-ng-bind="(order.tax || 0) | currency"></td>
                                </tr>
                                <tr style="color: #4ab2f1; font-size: 24px;">
                                    <td>Total:</td>
                                    <td class="text-right" data-ng-bind=" order.totalCost | currency"></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr/>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
