.aboutInfo_section {
  padding-bottom: 70px;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutInfo h1 {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 21px;
}

.aboutInfo p {
  font-size: 14px;
  line-height: 26px;
  max-width: 890px;
  margin: 0 auto;
  margin-bottom: 21px;
}

.image_container {
  width: 100%;
  margin: auto;
  margin-bottom: 21px;
}

.image_container img {
  max-width: 100%;
  height: auto;
}

.service_area {
  background: #f2f2f2
    url(//cdn.shopify.com/s/files/1/0359/6350/2651/files/about-us-policy-bg.jpg?v=1588134945)
    no-repeat scroll center center / cover;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding: 70px 0 64px;
}

.single_box {
  text-align: center;
}

.box_icone {
  margin-bottom: 23px;
}

.client_say {
  margin-bottom: 14px;
}

.tesimonial {
  text-align: center;
}

.faq_client_say_area h2 {
  text-align: center;
  font-size: 28px;
  line-height: 33px;
}

.single_testimonial {
  background: #f8f8f8;
  position: relative;
  padding: 70px 20px 80px;
}
