.client_say {
  margin-bottom: 14px;
}

.tesimonial {
  text-align: center;
}

.faq_client_say_area h2 {
  text-align: center;
  font-size: 28px;
  line-height: 33px;
}

.single_testimonial {
  background: #f8f8f8;
  position: relative;
  padding: 70px 20px 80px;
}
