.map_area {
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.contact_area {
  margin-bottom: 70px;
}

.contact_message h3 {
  font-size: 21px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 25px;
}

.contact_message p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.contact_message ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.contact_message ul li {
  padding: 13px 0;
  border-top: 1px solid #ededed;
}

.contact_message button {
  font-weight: 400;
  height: 42px;
  line-height: 42px;
  padding: 0 30px;
  text-transform: capitalize;
  border: none;
  background: #222222;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 4px;
}
