.title_page_overlay {
  background: #f6f6f6 url(//cdn.shopify.com/s/files/1/0359/6350/2651/files/banner18.jpg?v=1588133916) no-repeat scroll center center / cover;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 200px;
  display: flex;
  align-items: center;
}

.title_content{
  text-align: center;
}

.title{
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 9px;
  font-weight: 400;
}

.title_list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_list a{
 text-decoration: none;
 color: #222;
}

.title_list a:hover{
  color: #008000;
}
