.our_services {
  padding: 60px 0 36px;
  background: #ececec;
}

.services_title {
  text-align: center;
  margin-bottom: 35px;
}

.services_title h2 {
  font-size: 25px;
}

.services_title p {
  max-width: 790px;
  margin: 0 auto;
}

.services_desc {
  font-size: 13px;
}

.services_desc h3 {
  font-size: 13px;
}

.services_item {
  margin-bottom: 27px;
  display: flex;
}

.services_icone {
  margin-right: 15px;
  font-size: 20px;
}

.view__work {
  font-size: 14px;
}

.view__work a {
  padding: 8px 20px 7px;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #ededed;
  text-decoration: none;
  color: #222;
}

.unlimited_services {
  margin-bottom: 10px;
}
