.about_gallery_content {
  padding-top: 21px;
  text-align: center;
}

.about_gallery_left_content {
  padding-top: 21px;
}

.about_gallery_container {
  padding-bottom: 30px;
}

.about_gallery_section {
  margin-bottom: 40px;
}

.faq_client_say_area {
  margin-bottom: 64px;
}
