<div>
    <div data-ng-if="!brandId">
        You need to save the category before you can add Products for this category page.
    </div>
    <div class="bs-fa-color" data-ng-if="brandId">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" role="grid">
                <thead class="tbl-header">
                    <tr class="row">
                        <th>Product</th>
                        <th class="text-center">Is featured Product?</th>
                        <th class="text-center">Display order</th>
                        <th class="text-center" style="width: 100px;">View</th>
                        <th class="text-center" style="width: 165px;">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row" data-ng-repeat="product in displayProducts">
                        <td data-ng-bind="product.info.name"></td>
                        <td class="text-center" data-ng-show="!product.toEdit">
                            <span data-ng-show="product.info.isFeatured"><i class="fa fa-check"></i></span>
                            <span data-ng-show="!product.info.isFeatured"><i class="fa fa-close"></i></span>
                        </td>
                        <td class="text-center" data-ng-show="product.toEdit">
                            <input type="checkbox" data-ng-model="editableProduct.info.isFeatured">
                        </td>
                        <td class="text-center" data-ng-show="!product.toEdit" data-ng-bind="product.info.displayOrder"></td>
                        <td class="text-center" data-ng-show="product.toEdit">
                            <input type="number" data-ng-model="editableProduct.info.displayOrder">
                        </td>
                        <td class="text-center"><a ui-sref="Product.Edit({id: product._id})">View</a></td>
                        <td class="text-center">
                            <div data-ng-show="!product.toEdit">
                                <button type="button" data-ng-disabled="editButtonActive" class="btn btn-default" data-ng-click="showProductToEdit(product)">Edit</button>
                                <button type="button" class="btn btn-default" data-ng-click="deleteBrandFromProduct(product)">Delete</button>
                            </div>
                            <div data-ng-show="product.toEdit">
                                <button type="button" class="btn btn-default" data-ng-click="updateProductInfo(product)">Update</button>
                                <button type="button" class="btn btn-default" data-ng-click="product.toEdit=false">Cancel</button>
                            </div>

                        </td>
                    </tr>
                    <tr class="row" >
                        <td colspan="5" class="tbl-footer">
                            <div class="col-md-5 col-sm-12">
                                <uib-pagination total-items="totalItems" data-ng-model="currentPage" max-size="maxSize" class="pagination-sm"
                                            boundary-links="true" rotate="false" num-pages="numPages"
                                            items-per-page="numberOfDisplay"  ng-change="setPage(currentPage)" style="margin: 0;"></uib-pagination>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <select data-ng-model="numberOfDisplay" data-ng-options="opt for opt in numberOfDisplayOptions" data-ng-change="displayOptionChange()"></select>
                                <span>items per page</span>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 pull-right">
                                <div class="col-md-9 col-sm-9 col-xs-9" data-ng-show="products.length<1">No items to display</div>
                                <div class="col-md-9 col-sm-9 col-xs-9" data-ng-show="products.length>0">{{displayFrom}} - {{displayTo}} of {{totalItems}} items</div>
                                <div class="col-md-3 col-sm-3 col-xs-3"><button class="btn btn-default" data-ng-click="searchProducts()"><i class="fa fa-refresh"></i></button></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-ng-click="addProduct()">Add product</button>
        </div>
    </div>
</div>
