<div class="container" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <div class="logo navbar-left">
      <a class="navbar-brand" ui-sref="home" mean-token="'site-title'">MEAN</a>
    </div>
    <button class="navbar-toggle" type="button" ng-init="isCollapsed=true" data-toggle="collapse" ng-click="isCollapsed=!isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav class="collapse navbar-collapse" collapse="isCollapsed">
    <ul class="navbar-nav nav navbar-left">
      <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" class="dropdown" data-ng-class="{active: $uiRoute}">
        <a data-ng-if="!item.dropdown" mean-token="item.link" ui-sref="{{item.link}}" ng-bind="item.title"></a>
        <a data-ng-if="item.dropdown" mean-token="item.link" class="dropdown-toggle" href>{{item.title}}<b class="caret"></b></a>
        <ul data-ng-if="item.dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.dropdown" ui-route="/{{subitem.link}}" ng-class="{active: $uiRoute, divider: subitem.divider}">
            <a data-ng-if="subitem.link" mean-token="subitem.link" ui-sref="{{subitem.link}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav nav navbar-right" data-ng-if="global.authenticated" mean-token-editable>
      <li class="dropdown">
        <a href="#" role="button" class="dropdown-toggle">{{global.user.name}} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="navbar-nav nav navbar-right" data-ng-if="!global.authenticated">
      <li>
        <a ui-sref="auth.register">Register</a>
      </li>
      <li>
        <a ui-sref="auth.login">Login</a>
      </li>
    </ul>
  </nav>
</div>


