<div class="form-container">
    <div class="row">
        <div class="col-md-3">
            <label class="required-label"> <question-mark></question-mark> Name</label>

        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="product.info.name" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Short Description
        </div>
        <div class="col-md-3">
            <textarea ng-model="product.info.shortDescription" class="col-md-6 form-control" rows="2"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Description
        </div>
        <div class="col-md-6">
            <textarea ui-tinymce ng-model="product.info.fullDescription" class=""></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> SKU
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="product.info.sku"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Cost
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" ng-model="product.info.cost"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Old Price
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" ng-model="product.info.oldPrice"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Price
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" ng-model="product.info.price"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Parent Category
        </div>
        <div class="col-md-9">
            <div dynamic-multiple-categories placeholder="Categories" class="col-md-12"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Brands
        </div>
        <div class="col-md-9">
            <div dynamic-multiple-brands placeholder="Brands" class="col-md-12"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Show on home page
        </div>
        <div class="col-md-9">
            <input type="checkbox" ng-model="product.info.showOnHomePage"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Include in top menu
        </div>
        <div class="col-md-9">
            <input type="checkbox" ng-model="product.info.includeInTopMenu"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Allow customers to select page size
        </div>
        <div class="col-md-9">
            <input type="checkbox" ng-model="product.info.allowToSelectPageSize"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Published
        </div>
        <div class="col-md-9">
            <input type="checkbox" ng-model="product.info.published"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Is featured
        </div>
        <div class="col-md-9">
            <input type="checkbox" ng-model="product.info.isFeatured"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <question-mark></question-mark> Display order
        </div>
        <div class="col-md-1">
            <input type="number" name="quantity" min="1" max="100" class="form-control"
                   data-ng-model="product.info.displayOrder"/>
        </div>
    </div>

</div>
