<div class="form-container">
    <div class="row">
        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Display Order</th>
                <th>Alt</th>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="photo in product.photos">
                <td><img ng-src="{{'/api/products/photos/'+photo.id}}" class="thumb"></td>
                <td>{{photo.displayOrder}}</td>
                <td>{{photo.alt}}</td>
                <td>{{photo.title}}</td>
                <td><a href="">Edit</a></td>
                <!--ui-sref="Product.Edit({productId: item.id})"-->
                <td>
                    <div class="btn btn-danger" ng-click="deleteImage(photo.id);"><i
                            class="fa fa-remove fa-fw"></i>Delete
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <form name="productPictureForm">
        <div class="row">
            <div class="col-md-2">
                <question-mark></question-mark> Picture
            </div>
            <!--ng-hide="picture.files[0] === null"-->
            <div class="col-md-2">
                <img ngf-src="picture.file || 'modules/shopAdmin/img/upload-orange.png'" class="img-thumbnail thumb-preview" style="cursor: pointer;"
                     ngf-reset-on-click="true"
                     width="100px" height="100px" ngf-select data-ng-model="picture.file">

            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <question-mark></question-mark>Picture Title
            </div>
            <div class="col-md-3">
                <input placeholder="Picture Title" class="form-control" data-ng-model="picture.title" required>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <question-mark></question-mark>Picture alt Text
            </div>
            <div class="col-md-3"><input placeholder="image alt text" class="form-control" data-ng-model="picture.alt" required></div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <question-mark></question-mark> Display order
            </div>
            <div class="col-md-3">
                <input type="number" name="quantity" min="1" max="100" class="form-control" data-ng-model="picture.displayOrder" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-2">
                <input class="btn btn-primary" type="button" ng-disabled="productPictureForm.$invalid" ng-click="upload(picture)"
                       value="add Image to Product">
            </div>
        </div>
    </form>
</div>
