<div class="pull-right">
    <form class="form-inline" data-ng-submit="simpleSearch()">
        <div class="form-group">
            <label class="sr-only" for="searchItem">Search Items</label>
            <div class="input-group">
                <input type="text" class="form-control" id="searchItem" placeholder="Search" data-ng-model="searchInput">
                <div class="input-group-addon" data-ng-click="simpleSearch()" style="cursor: pointer"><i class="fa fa-search"></i></div>
            </div>
        </div>
    </form>
</div>
