
.carousel-caption {
    top: 15%;
    bottom: 20%;
    text-align: left;
    width: 100%;
}
.carousel-item h1,
h2,
p {
    max-width: 450px;
    color: black;
}
.carousel-item h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.carousel-item h2 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-bottom: 0;
    font-weight: 300;
    font-family: inherit;
    /* color: inherit; */
}
.carousel-item p {
    font-size: 1rem;
    line-height: 1.2rem;
    width: 80%;
    padding: 18px 0 39px;
    margin-bottom: 0;
    
}

.carousel-item img {
    /* height: 600px; */
    text-decoration: none;
}

.carousel-caption a {
    text-decoration: none;
    padding: 30%;
}
.carousel-caption p {
    text-decoration: none;
    padding-bottom: 30px;
}


.carousel-indicators {
    bottom: 1%;
}


.carousel-indicators [data-bs-target] {
    background-color: black;
}
