/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content {
  padding: 20px 10px 10px;
}

.content:hover {
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.mr {
  margin-right: 10px;
}

.mb {
  margin-bottom: 20px;
}

.buttons {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.linkStyle {
  color: white;
  text-decoration: none;
}

.linkStyle:hover {
  color: white;
  text-decoration: none;
}

.zmb {
  margin-bottom: 0px;
}
