<div class="admin-title"><h3>Add a new Brand <a ui-sref="Brand.List">(back to Brand list)</a></h3>
    <button class="btn btn-info" ng-click="create();" data-ng-disabled="brandCreateForm.$invalid">Save All</button>
</div>
<div>
    <form name="brandCreateForm">
        <uib-tabset>
            <uib-tab heading="Brand Info">
                <tab-brand-info></tab-brand-info>
            </uib-tab>
            <uib-tab heading="SEO">
                <tab-brand-seo></tab-brand-seo>
            </uib-tab>
            <uib-tab heading="Products">
                <tab-brand-products></tab-brand-products>
            </uib-tab>
            <!--<uib-tab heading="Discounts">-->
                <!--<tab-brand-discounts></tab-brand-discounts>-->
            <!--</uib-tab>-->
            <!--<uib-tab heading="Access Control list">-->
                <!--<tab-brand-acl></tab-brand-acl>-->
            <!--</uib-tab>-->
            <!--<uib-tab heading="Stores">-->
                <!--<tab-brand-stores></tab-brand-stores>-->
            <!--</uib-tab>-->
        </uib-tabset>
    </form>
</div>

