<div class="row">
    <div class="product-details">
        <div class="col-sm-5">
            <div class="view-product">
                <uib-carousel interval="myInterval" no-wrap="noWrapSlides" active="active">
                    <uib-slide data-ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <img data-ng-src="{{slide.image}}">
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information">
                <h2>{{product.info.name}}</h2>
                <p>SKU: {{product.info.sku}}</p>

                <span>
                    <span>{{product.info.price | currency}}</span>
                    <label>Quantity:</label>
                    <input type="text" data-ng-model="quantity"/>

                    <button type="button" class="btn btn-default" data-ng-click="addToCart(product, $event)">
                        <i class="fa fa-shopping-cart"></i> Add to cart
                    </button>
                </span>

                <p><b>Availability:</b> In Stock</p>
                <p><b>Condition:</b> New</p>
                <p><b>Brand:</b> <span data-ng-repeat="brand in product.brands">{{brand}}</span></p>
                <p>
                    <button class="btn btn-success" data-ng-click="addToWishlist(product, $event)"><i class="fa fa-star"></i> Add to wishlist</button>
                    <button class="btn btn-success" data-ng-click="addToCompare(product, $event)"><i class="fa fa-exchange" style="transform: rotate(90deg);"></i> Add to compare</button>
                </p>
            </div>
        </div>
    </div>

    <div class="category-tab">
        <uib-tabset>
            <uib-tab heading="Details">
                {{product.info.fullDescription}}
            </uib-tab>
            <uib-tab heading="Reviews">
                <p>coming soon...</p>
            </uib-tab>
        </uib-tabset>
    </div>
</div>
