<div class="row">
    <div class="col-md-4 col-sm-6" data-ng-repeat="product in products">
        <div class="single-product">
            <div class=" product-info text-center">
                <a data-ui-sref="products-details({sku:product.info.sku})">
                    <img class="img-responsive center-block" data-ng-if="product.photos.length > 0" data-ng-src="/api/products/photos/{{product.photos[0].id}}" alt="{{product.info.name}}">
                </a>
                <h2 data-ng-bind="product.info.price | currency"></h2>
                <p>
                    <a data-ui-sref="Product({sku:product.info.sku})" data-ng-bind="product.info.name"></a>
                </p>
                <button class="btn btn-success" data-ng-click="addToCart(product, $event)" ><i class="fa fa-shopping-cart"></i> Add to cart</button>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="javascript:void(0)" data-ng-click="addToWishlist(product, $event)"><i class="fa fa-plus-square"></i> Add to wishlist</a></li>
                    <li><a href="javascript:void(0)" data-ng-click="addToCompare(product, $event)"><i class="fa fa-plus-square"></i> Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div data-ng-if="!products.length" class="row text-center">
        <h2>No featured item found !!</h2>
    </div>
</div>
